// src/responsive/_breakpoints.scss
$breakpoints: (
    mobile: 0px,
    tablet: 768px,
    desktop: 1024px,
    wide: 1280px,
    ) !default;

@function bp($key) {
    @if map-has-key($breakpoints, $key) {
        @return map-get($breakpoints, $key
    );
}

@error "Unknown breakpoint `#{$key}`. Available: #{map-keys($breakpoints)}";
}

@function bp-max($key, $delta: 0.02px) {
    @return bp($key) - $delta;
}

@mixin tablet-down {
    @media (max-width: bp-max(desktop)) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: bp(tablet)) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: bp-max(tablet)) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: bp(desktop)) {
        @content;
    }
}

@mixin wide-up {
    @media (min-width: bp(wide)) {
        @content;
    }
}